.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 61vh;
    width: 65vh;
    background-color: rgb(187, 188, 188);
    border-radius: 41px;
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }