.ribbon {
    position: relative;
   /* background: black; */
   height: 135px;
   width: 135px;
   top:-9px;
   left:-9px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }
  
  .ribbon-text {
    width: 130%;
    position: absolute;
    height: 30px;
    background: orangered;
    transform: rotate(-45deg) translateY(-22px);
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 .ribbon::after{
    content: '';
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 9px;
    height: 9px;
    background: rgb(202, 86, 19);
    z-index: -1;
    box-shadow: 116px -116px rgb(202, 86, 19);
 }